*{margin: 0;}
header{z-index: 100;}
nav{width: 772px; height: 620px; padding-top: 50px;border: 0px solid blue;z-index: 100;}
nav > ul{display: grid;grid-template-columns: 1fr 1fr 1fr 1fr;height: 50px;border: 0px solid red;}
nav > ul > li{display: flex;justify-content: space-between;align-items: center;list-style: none;font-family: 'Montserrat', sans-serif;font-weight: 600;border: 0px solid green;}
nav > ul > li > a{color:white;text-decoration: none;}
nav > ul > li > a:hover{color:#3E37FF;}
.site{margin-left: 30px;}
footer{background-color: black;width: 1920px;height: 87px;z-index: 100;}
.footer_img{display: flex;justify-content: center;padding-top: 45px;}
.footer_text{display: flex;justify-content: center;color: #ffffff;padding-top: 25px;}
.bg{background-image: url('img/00.png');position: absolute;z-index: 1;width: 100%;height: 100vh;}
